APP_PORT=5000

# NODE_ENV=dev|production
NODE_ENV=dev
CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=live_polling

JWT_SECRET=GenerateASuperStrongJWTSECRET
JWT_EXPIRES_IN=7d
COOKIE_SECRET=GenerateAStrongCOOKIESECRET
# Must be changed in production
COOKIE_DOMAIN=localhost

# AI model that will be used in generating the interactive poll
AI_MODEL_NAME=openrouter/owl-alpha
AI_API_KEY=

# OAuth - Google (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=yourgoogleclientid
GOOGLE_CLIENT_SECRET=yourgoogleclientsecret

# OAuth - GitHub (https://github.com/settings/developers)
GITHUB_CLIENT_ID=yourgithubclientid
GITHUB_CLIENT_SECRET=yourgithubclientsecret

# Cloudinary
CLOUDINARY_CLOUD_NAME=yourcloudinarycloudname
CLOUDINARY_API_KEY=yourcloudinaryapikey
CLOUDINARY_API_SECRET=yourcloudinaryapsecret

# Mail delivery
SMTP_HOST=yoursmtphost
SMTP_PORT=yoursmtpport
SMTP_USER=yoursmtpuser
SMTP_PASS=yoursmtppass